APP_BASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_URL=
SUPPORT_CHAT_ID=
ANALYTICS_BOT_TOKEN=
ANALYTICS_REPORTS_CHAT_ID=
ANALYTICS_REPORTS_THREAD_ID=
ANALYTICS_REPORTS_TIMEZONE=Europe/Kyiv
SHORT_ACCESS_LINK=https://telegram.me/ShortRebotBot?start=6a1b2e01f73e6df7570fff07
IREM_ACCESS_LINK=https://telegram.me/IREM_gymnastic_Bot?start=ZGw6MjA1MTY4
