APP_BASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_URL=
SUPPORT_CHAT_ID=
ANALYTICS_BOT_TOKEN=
ANALYTICS_REPORTS_CHAT_ID=
ANALYTICS_REPORTS_THREAD_ID=
ANALYTICS_REPORTS_TIMEZONE=Europe/Kyiv
SHORT_ACCESS_LINK=https://t.me/ShortRebootBot?start=ZGw6MjA1MTc3
IREM_ACCESS_LINK=https://t.me/IREM_gymnastic_Bot?start=ZGw6MjA1MTY4
