*
!/.gitignore
!/platform/
!/platform/**

# exclude non-deployable and local artifacts inside platform
/platform/tests/
/platform/.next/
/platform/node_modules/
/platform/coverage/
/platform/out/
/platform/dist/
/platform/.env*
